In [1]:
import pandas as pd
import os

In [3]:
data = pd.read_excel("VentasRopa.xlsx")
df = pd.DataFrame(data=data)

In [4]:
df.head()

,productcategory,productsubcategory,product,saleterritory,Country,City,Sate,Customer,Employee,OrderCount,OrderDate,StandardCost,UnitPrice,UnitPriceDiscount,Discount,ListPrice,SaleswithStandard,NetSales,OrderQuantity,Sales
0,Clothing,Caps,AWC Logo Cap,United Kingdom,United Kingdom,Berks,England,Gary Suess,Amy Alberts,1,2012-06-30,6.9223,5.0136,0.02,1.4038,8.6442,96.9122,-28.125608,14,68.786592
1,Accessories,Locks,Cable Lock,United Kingdom,United Kingdom,Berks,England,Gary Suess,Amy Alberts,1,2012-06-30,10.3125,15.0000,0.00,0.0000,25.0000,61.8750,28.125000,6,90.000000
2,Clothing,Gloves,"Full-Finger Gloves, L",United Kingdom,United Kingdom,Berks,England,Gary Suess,Amy Alberts,1,2012-06-30,15.6709,22.7940,0.00,0.0000,37.9900,125.3672,56.984800,8,182.352000
3,Clothing,Gloves,"Full-Finger Gloves, L",United Kingdom,United Kingdom,London,England,Linda Martin,Amy Alberts,1,2012-06-30,15.6709,20.8945,0.05,16.7156,37.9900,250.7344,66.862000,16,317.596400
4,Clothing,Gloves,"Full-Finger Gloves, M",United Kingdom,United Kingdom,Berks,England,Gary Suess,Amy Alberts,1,2012-06-30,15.6709,22.7940,0.00,0.0000,37.9900,109.6963,49.861700,7,159.558000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60880 entries, 0 to 60879
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   productcategory     60841 non-null  object
 1   productsubcategory  60841 non-null  object
 2   product             60841 non-null  object
 3   saleterritory       60880 non-null  object
 4   Country             60880 non-null  object
 5   City                60880 non-null  object
 6   Sate                60880 non-null  object
 7   Customer            60880 non-null  object
 8   Employee            60880 non-null  object
 9   OrderCount          60880 non-null  int64
 10  OrderDate           60880 non-null  datetime64[ns]
 11  StandardCost        60841 non-null  float64
 12  UnitPrice           60880 non-null  float64
 13  UnitPriceDiscount   60880 non-null  float64
 14  Discount            60880 non-null  float64
 15  ListPrice           60841 non-null  float64
 16  SaleswithStandard   60841 non-null  float64
 17  NetSales            60841 non-null  float64
 18  OrderQuantity       60880 non-null  int64
 19  Sales               60880 non-null  float64
dtypes: datetime64[ns](1), float64(8), int64(2), object(9)
memory usage: 9.3+ MB

In [6]:
ls = df['saleterritory'].unique()
ls

array(['United Kingdom', 'France', 'Germany', 'Northwest', 'Canada',
       'Central', 'Southwest', 'Northeast', 'Southeast', 'Australia'],
      dtype=object)

### Creaci√≥n de carpetas

In [7]:
base_dir = r"C:\Users\FELIPE\Desktop\GitHub\Excel"
for x in ls:
    print(base_dir + "\\" + x)
    folders = base_dir + "\\" + x
    if not os.path.exists(folders):
        os.makedirs(folders)
    df[df['saleterritory'] == x].to_excel("{}\{}.xlsx".format(folders, x), sheet_name=x, index=False)
    print("{} file saved", x)

C:\Users\FELIPE\Desktop\GitHub\Excel\United Kingdom
{} file saved United Kingdom
C:\Users\FELIPE\Desktop\GitHub\Excel\France
{} file saved France
C:\Users\FELIPE\Desktop\GitHub\Excel\Germany
{} file saved Germany
C:\Users\FELIPE\Desktop\GitHub\Excel\Northwest
{} file saved Northwest
C:\Users\FELIPE\Desktop\GitHub\Excel\Canada
{} file saved Canada
C:\Users\FELIPE\Desktop\GitHub\Excel\Central
{} file saved Central
C:\Users\FELIPE\Desktop\GitHub\Excel\Southwest
{} file saved Southwest
C:\Users\FELIPE\Desktop\GitHub\Excel\Northeast
{} file saved Northeast
C:\Users\FELIPE\Desktop\GitHub\Excel\Southeast
{} file saved Southeast
C:\Users\FELIPE\Desktop\GitHub\Excel\Australia
{} file saved Australia